<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
</head>
<body>
	<div>
		{{ content }}
	</div>
	<div>
		{{ obj.name }}
	</div>
	<div>
		{% if name == 'Tom'  %}
			<h1>是帅哥啊</h1>
		{% endif %}
	</div>
	<div>
		{% if name == 'Tom'  %}
			<h1>是帅哥</h1>
		{% elseif name == 'Amy' %}
			<h1>是美女</h1>
		{% else %}
			<h1>Hello 你是谁?</h1>
		{% endif %}		
	</div>
	<div>
		{% for  key,val in arr %}
			<p>
				{{ key }}
				{{ val }}
			</p>		
		{% endfor %}
	</div>
</body>
</html>